body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{

   /* border: 3px solid red;*/
   background-color: gray;
}

h1{

    color: red;
    /*border: 3px solid red;*/
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

main{

   /* border: 3px solid red;    */
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;    
}


p{
   /* border: 3px solid red;  */
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
   
}

b{

    background-color: red;
    width: 500px;
    display: inline-block;
    color: yellow;
}


.bloco2{


 /*   border: 3px solid blue;*/
    margin-top: 25px;

}

.bloco2 b{

    display: inline-block;
   /* visibility: hidden;*/
}

footer{

  /*  border: 3px solid red;*/
    margin-top: 25px;
}

footer h2{

 /*   border: 3px solid red;*/
    margin: 30px;
    padding:20 px;
    text-align: center;
}